<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Grid</title>
    <link rel="stylesheet" href="{% static 'gridview/grid1.css' %}" />
    <script  type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            $(document).on('click','input[type=text]',function(){ this.select(); });
        });    </script>
    <style>
    </style>
</head>
<body>
<form action="{% url 'updategrid' %}" method="post">
  {% csrf_token %}

    <div class="gc">
      {% for row in rows %}
        {% for cell in row %}
          {% if cell.isdata %}
            <div class="{{ cell.class }}c"><div class="{{ cell.class }}s">
              <input type="text" name="{{ cell.dataname }}" value="{{ cell.datavalue }}">
            </div></div>
          {% else %}
            <div class="{{ cell.class }}c"><div class="{{ cell.class }}s">
              {{ cell.label }}
            </div></div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  <input type="submit" value="save" />
</form>
</body>
</html>